<section class="mt-12 w-full">
  <h2 class="text-3xl font-medium text-center sm:text-left">Sobre mi</h2>
  <p class="text-lg text-center sm:text-left text-neutral-600 leading-7">
    Como desarrollador de Full Stack, he creado un producto y multiples
    proyectos de software que aportan valor a los usuarios. Trabajo desde hace
    año con tecnologias tales como JavaScript, TypeScript, React, Next.js
    ,Node.js, MongoDB, PostgreSQL, entre otras. Me gusta aprender y experimentar
    con nuevas tecnologias y metodologias de desarrollo.
  </p>
</section>
