---
import Web from "../icons/Web.astro";
import { SOCIAL_MEDIA } from "../../data/SocialMedia";
import { Image } from "astro:assets";
import PROFILE from "../../assets/profile.jpg"
---

<header
  class="flex gap-4 sm:flex-row items-center sm:items-start flex-col-reverse w-full justify-between"
>
  <article class="sm:mt-0 text-center sm:text-left mt-4 max-w-md">
    <h1 class="text-4xl">Armando Diaz</h1>
    <p class="text-xl mt-2 leading-6 text-neutral-700">
      Desarrollador Full Stack enfocado en la creación de aplicaciones web con
      tecnologías modernas.
    </p>
    <div
      class="flex flex-col items-centers sm:items-start gap-2 justify-center sm:justify-start mt-4"
    >
      <p class="text-lg mx-auto sm:mr-auto sm:mx-0 px-1 text-neutral-600">
        <span class="flex flex-row items-center gap-2">
          <Web />
          VE - Venezuela, Edo Bolívar
        </span>
      </p>
      <ul class="flex justify-center sm:justify-start flex-row gap-2">
        {
          SOCIAL_MEDIA.map((social) => (
            <li
              class="flex items
                -center gap-2"
            >
              <a
                href={social.url}
                target="_blank"
                rel="noopener noreferrer"
                class="flex border px-3 rounded text-neutral-600 py-0.5 items-center gap-2 bg-white shadow-sm hover:scale-105 hover:shadow-md transition duration-300 ease-in-out"
              >
                <social.icon />
                <span>{social.network}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </article>
  <picture
    class="relative sm:ml-auto sm:mx-0 mx-auto w-44 h-44 rounded-md shadow overflow-hidden"
  >
    <Image
      src={PROFILE}
      alt="Astro Logo"
      class="absolute object-cover top-0 left-0 w-full h-full"
    />
  </picture>
</header>
