---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Experience from "../components/sections/Experience.astro";
import About from "../components/sections/About.astro";
import Projects from "../components/sections/Projects.astro";
import Certificates from "../components/sections/Certificates.astro";
---

<Layout title="Portfolio - Armando Diaz">
  <main
    class="flex items-center justify-center w-full flex-col max-w-screen-md mx-auto px-4 sm:px-12 py-8"
  >
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Certificates />
  </main>
</Layout>
