---
import Layout from "../layouts/Layout.astro";
import PROJECTS from "../data/projects.json";
import { Github, Linkedin, Mail, Calendar, Link } from "../components/icons";
import Hero from "../components/sections/Hero.astro";
import Experience from "../components/sections/Experience.astro";
import About from "../components/sections/About.astro";

---

<Layout title="Portfolio - Armando Diaz">
  <main
    class="flex items-center justify-center w-full flex-col max-w-screen-md mx-auto px-4 sm:px-12 py-8"
  >
    <Hero />
    <About />
    <Experience />
  </main>
</Layout>
